{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
    <h3>About me</h3>
    <hr>
    <p>Work on: Back-End <br>
    Learning: Game Programming/Unreal with C++ <br>
    In future plan: DevOps <br>
    Education: Completely Self-Taught <br>
    Age:19 <br>
    Personality: INTJ/5w6 <br> <br>
    
    About me: <br> 
    I'm graduated from Highschool in 2019,immediately decided to learn and improve myself for software.Also I interested Mathematics,Electronics and MBTI.
    <br> <br>
    About my education: <br> 
    I'm taking lectures and courses from Corey Schafer,Harvard's CS50,Udemy and various sources. </p>
    <hr>
</div>
{% endblock body %}