{% extends "layout.html" %}
{% block body %}
{% if article  %}
<form action="/search" method="post">
    <input type="text" name="keyword" class="input-sm" maxlength="64" placeholder="Search">
    <button type="submit" class="btn btn-danger">Search</button>
    <hr>
    <ul class="list-group">
    
    {% for post in article  %}
    <li class="list-group-item"><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    
    {% endfor %}
    </ul>
</form>

{% else %}

<div class = alert alert-danger>There are no articles in this blog yet</div>

{% endif %}
{% endblock body %}

