{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
    <h3>My Projects</h3>
    <hr>
    <p>Yapay zekâ ve yenilikçi teknolojilerin geliştirilebilmesi için veriye ihtiyaç duyulmaktadır. Ancak ihtiyaç duyulan verilere erişimin sınırlı olması gelişime engel teşkil etmektedir. AçıkVeri Projesi kapsamında anonimleştirilmiş ve mahremiyeti sağlanmış her türlü verinin paylaşılması sağlanarak yapay zekâ ve yenilikçi teknolojilerin ülkemizde geliştirilerek, veriden değer üretilmesi amaçlanmaktadır. </p>
</div>
{% endblock body %}
